* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Roboto', sans-serif;

}

header {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    width: 100%;
    margin-bottom: 1px;
    padding: 20px;
    display: flex;
    justify-content: center;
}
main {
    background-color: rgb(245,245,245);
    max-width: 375px;
    min-width: 320px;
    padding-top: 20px;
    height: 100vh;
    margin: 0 auto;
}
.logo {
    width: 50px;
    position: absolute;
    left: 35px;
    top: 7px;
}
header h1 {
    color: #002270;
    font-size: 1.8em;
    font-weight: bold;
}


.Container {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.872);
    width: 80%;
    margin: 0 auto 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: flex;
    flex-direction: column;
}

.container_Precio {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 1px;
}
.precio {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 2px, rgba(0, 0, 0, 0.24) 0px 1px 1px;
    border-width: 1px;
}

.container_C {
    display: flex;
    justify-content: space-around;
}


input {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.4em;
    font-weight: bold;
}
.c {
    background-color: rgb(245,245,245);
    border-radius: 5px;
    width: 50px;
    padding: 10px 10px;
    margin: 15px 0px 15px 10px;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.container_DownPayment {
    margin: 0 auto;
}
.downPayment {
    background-color: rgb(245,245,245);
    border-radius: 5px;
    width: 70px;
    padding: 10px 10px;
    margin: 15px 0px 15px 10px;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.container_Boton {
    margin: 0 auto;
}
.boton {
    background-color: white;
    border-color: white;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 2px, rgba(0, 0, 0, 0.24) 0px 1px 3px;

}



.container_Ref {
    background-color: rgba(255, 255, 255, 0.872);
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.container_titulo_Ref {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.container_resultadoRef {
    display: flex;
    justify-content: space-around;
}
.resultadoRef {
    background-color: rgb(245,245,245);
    border-radius: 5px;
    width: 60px;
    padding: 10px 10px;
    margin: 15px 0px 15px 10px;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin-bottom: 22px;
}
.container_R {
    display: flex;
    justify-content: space-around;
}
.r {
    width: 15%;
    margin-bottom: 15px;
}
.container_Boton_Dos {
    display: flex;
    justify-content: center;
}


